html, body {
  margin:0px;
  height:100%;
}

.flex {
  display: flex;
}

.home {
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(181, 176, 176, 0.7);
}

.icons {
  width: 97px;
  position: relative;
  top: -26%;
  left: 34%;
  opacity: 0.4;
}

.cards {
  flex-wrap: wrap;
  margin-top: 6%;
  justify-content: center;
  gap: 15px;
}

.scard {
  max-height: 235px;
  flex-direction: column;
}
